/* Drop down animation - https://www.youtube.com/shorts/3gNOoYzarNo */
.area-toggle {
  display: none;
}

ul {
  min-height: 0;
}
.wrapper {
  display: grid;
  grid-template-rows: 1fr;
  overflow: hidden;
  transition: grid-template-rows 500ms;
}

.area-toggle:checked + .wrapper {
  grid-template-rows: 0fr;
}

.mosque-by-area-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  overflow-y: scroll;
  width: min(100%, 1439px);
}

.dropdown-icon-svg {
  transition: transform 500ms;
}
.area-toggle-label:has(+ .area-toggle:checked) .dropdown-icon-svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
