/* THIS IS ALL FOR MOBILE FIRST */
/* Website to convert hex to rbg to form rgba colors - https://color-hex.org/color/1a6271 */
/* 
  z-indexes explained
  Lowest layer 
  1) navbar-container = 5
  2) dark-overlay = 9 (Needs to be above the navbar when shown
  3) navigation-panel = 10 (needs to be above the overlay)
  4) hamburger-btn = 15 (needs to be above the nav panel so can click the cross version of it)
*/
.navbar-pattern {
  background-image: url('/assets/pattern.svg');
  background-color: rgba(26, 98, 113, 1);
  background-size: contain;
  width: 100%;
  height: 100%;
}

.navbar-container {
  background-image: radial-gradient(circle at -100% -100%, rgba(26, 98, 113, 0.85), rgba(26, 98, 113, 1));
}

.navigation-panel {
  position: absolute;
  top: 0;
  right: -250px;
  background-color: white;
  height: 100vh;
  width: 250px;
  padding: 3.25rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  z-index: 10;
  transition: transform 200ms ease-in;
}

.hamburger-btn[aria-expanded='false'] + .navigation-panel {
  transform: translateX(0px);
}

.hamburger-btn[aria-expanded='true'] + .navigation-panel {
  transform: translateX(-250px);
}

.navigation-panel li {
  position: relative;
  width: 100%;
  border-top: 1px solid #e2e2e2;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
}
.navigation-panel li:last-child {
  border-bottom: 1px solid #e2e2e2;
}

/* Hamburger position and animations */
.hamburger-btn {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 15;
  transition: stroke 100ms ease-in;
}

.hamburger-btn .line {
  transform-origin: center;
}

.hamburger-btn[aria-expanded='true'] {
  stroke: theme(colors.slate.900);
}

.hamburger-btn[aria-expanded='false'] {
  stroke: white;
}

.hamburger-btn:hover {
  stroke: theme(colors.accent.600);
}

.hamburger-btn[aria-expanded='false'] .line {
  transition: transform 100ms ease-in 100ms, rotate 100ms ease-in 100ms, opacity 0ms 100ms;
  stroke: inherit;
}

.hamburger-btn[aria-expanded='true'] .line {
  transition: transform 100ms ease-in, rotate 100ms ease-in 100ms, opacity 0ms 100ms;
}

.hamburger-btn[aria-expanded='true'] .top {
  transform: translateY(25px);
  rotate: 45deg;
}

.hamburger-btn[aria-expanded='true'] .bottom {
  transform-origin: center;
  transform: translateY(-25px);
  rotate: -45deg;
}

.hamburger-btn[aria-expanded='true'] .middle {
  opacity: 0;
}

.navbar-container {
  z-index: 5;
}

.dark-overlay[data-visible='true'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
