/* Mobile first - then override at larger screens using media qs minwidth */
.home-page-container {
  display: flex;
  transition: all 2000ms;
}

.map-div {
  height: 500px;
  z-index: 0;
  transition: all 200ms;
  flex-grow: 100;
}

.map-div-hide {
  flex-grow: 0;
  width: 0;
  height: 0;
}

.leaflet-map-container {
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 200ms;
}

=
/* @media screen and (min-width: 1024px) {
  .map-container {
    height: calc(100vh - 52px);
  }
} */
