.tab {
  position: relative;
  display: flex;
}
.tab::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  border-bottom: 1px solid theme(colors.gray.300);
}
.tab-active {
  /* width: 50%; */
  position: relative;
  color: theme(colors.primary.600);
}

.tab-active::after {
  /* color: theme(colors.primary.600); */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid theme(colors.primary.600);
}
